.sm2-bar-musicshop > .bd {
 margin: auto;
}
.sm2-bar-musicshop {
 position: absolute;
 display: inline-block;
 width: 100%;
 font-family: helvetica, arial, verdana, sans-serif;
 font-weight: normal;
 /* prevent background border bleed */
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 /* because indeed, fonts do look pretty "fat" otherwise in this case. */
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
 /* general font niceness? */
 font-smoothing: antialiased;
 text-rendering: optimizeLegibility;
 min-width: 20em;
 max-width: 30em;
 /* take out overflow if you want an absolutely-positioned playlist dropdown. */
 border-radius: 2px;
 overflow: hidden;
 /* just for fun (animate normal / full-width) */
 transition: max-width 0.2s ease-in-out;
 text-align: left
}

.sm2-bar-musicshop .sm2-playlist li {
 text-align: center;
 margin-top: -2px;
 font-size: 95%;
 line-height: 1em;
}

.sm2-bar-musicshop.compact {
 min-width: 1em;
 max-width: 15em;
}

.sm2-bar-musicshop ul {
 line-height: 1em;
}

/* want things left-aligned? */
.sm2-bar-musicshop.left .sm2-playlist li {
 text-align: left;
}

.sm2-bar-musicshop .sm2-playlist li .load-error {
  cursor: help;
}

.sm2-bar-musicshop.full-width {
 max-width: 100%;
 z-index: 5;
}

.sm2-bar-musicshop.fixed {
 position: fixed;
 top: auto;
 bottom: 0px;
 left: 0px;
 border-radius: 0px;
 /* so the absolutely-positioned playlist can show... */
 overflow: visible;
 /* and this should probably have a high z-index. tweak as needed. */
 z-index: 999;
}

.sm2-bar-musicshop.fixed .bd,
.sm2-bar-musicshop.bottom .bd {
 /* display: table; */
 border-radius: 0px;
 border-bottom: none;
}

.sm2-bar-musicshop.bottom {
 /* absolute bottom-aligned UI */
 top: auto;
 bottom: 0px;
 left: 0px;
 border-radius: 0px;
 /* so the absolutely-positioned playlist can show... */
 overflow: visible;
}

.sm2-bar-musicshop.playlist-open .bd {
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
 border-bottom-color: transparent;
}

.sm2-bar-musicshop .bd,
.sm2-bar-musicshop .sm2-extra-controls {
 position: relative;
 background-color: #232E35;
 /*
 transition: background 0.2s ease-in-out;
 */
}



.sm2-bar-musicshop .sm2-inline-gradient {
 /* gradient */
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 background-image: -moz-linear-gradient(to bottom, rgba(255,255,255,0.125) 5%, rgba(255,255,255,0.125) 45%, rgba(255,255,255,0.15) 52%, rgba(0,0,0,0.01) 51%, rgba(0,0,0,0.1) 95%); /* W3C */
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.125) 5%, rgba(255,255,255,0.125) 45%, rgba(255,255,255,0.15) 50%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.1) 95%); /* W3C */
}

.sm2-bar-musicshop.flat .sm2-inline-gradient {
 background-image: none;
}

.sm2-bar-musicshop.flat .sm2-box-shadow {
 display: none;
 box-shadow: none;
}

.sm2-bar-musicshop.no-volume .sm2-volume {
 /* mobile devices (android + iOS) ignore attempts to set volume. */
 display: none;
}

.sm2-bar-musicshop.textured .sm2-inline-texture {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 /* for example */
 /* background-image: url(../image/wood_pattern_dark.png); */
 /* additional opacity effects can be applied here. */
 opacity: 0.75;

}

.sm2-bar-musicshop.textured.dark-text .sm2-inline-texture {
 /* dark text + textured case: use light wood background (for example.) */
 /* background-image: url(../image/patterns/wood_pattern.png); */
}

.sm2-bar-musicshop.textured.dark-text .sm2-playlist-wrapper {
 /* dark text + textured case: ditch 10% dark on playlist body. */
 background-color: transparent;
}

.sm2-bar-musicshop.textured.dark-text .sm2-playlist-wrapper ul li:hover a,
.sm2-bar-musicshop.textured.dark-text .sm2-playlist-wrapper ul li.selected a {
 /* dark + textured case: dark highlights */
 background-color: rgba(0,0,0,0.1);
 background-image: url(../image/black-10.png);
 /* modern browsers don't neeed the image */
 background-image: none, none;
}

.sm2-bar-musicshop .bd {
 display: table;
 border-bottom: none;
}

.sm2-bar-musicshop .sm2-playlist-wrapper {
 background-color: rgba(0,0,0,0.1);
}

.sm2-bar-musicshop .sm2-extra-controls .bd {
 background-color: rgba(0,0,0,0.2);
}


.sm2-bar-musicshop.textured .sm2-extra-controls .bd {
 /* lighten extra color overlays */
 background-color: rgba(0,0,0,0.05);
}

.sm2-bar-musicshop .sm2-extra-controls {
 background-color: transparent;
 border: none;
}

.sm2-bar-musicshop .sm2-extra-controls .bd {
 /* override full-width table behaviour */
 display: block;
 border: none;
}

.sm2-bar-musicshop .sm2-extra-controls .sm2-inline-element {
 display: inline-block;
}

.sm2-bar-musicshop,
.sm2-bar-musicshop .bd a {
 color: #fff;
}

.sm2-bar-musicshop.dark-text,
.sm2-bar-musicshop.dark-text .bd a {
 color: #000;
}




/* --- full width stuff --- */
.sm2-inline-element {
 display: table-cell;
}

.sm2-inline-element {
 /* collapse */
 width: 1%;
}
.sm2-extra-controls .sm2-inline-element {
 width: 25px; /* bare minimum */
 min-height: 1.75em;
 min-width: 2.5em;
}

.sm2-inline-status {
 line-height: 100%;
 /* how much to allow before truncating song artist / title with ellipsis */
 display: inline-block;
 min-width: 200px;
 max-width: 20em;
 /* a little more spacing */
 padding-left: 0.75em;
 padding-right: 0.75em;
}
.sm2-extra-controls .sm2-inline-element {
 display: inline-block;
}
.sm2-inline-element {
 position: relative;
 display: inline-block;
 vertical-align: middle;
 padding: 5px;
 overflow: hidden;
 margin: auto;
}
.sm2-inline-element,
.sm2-button-element .sm2-button-bd {
 position: relative;
}
.sm2-inline-element.noborder {
 border-right: none;
}

.sm2-inline-element.compact {
 min-width: 2em;
 padding: 10px 0.25em;
}
.sm2-inline-element:first-of-type {
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
 overflow: hidden;
}
.sm2-inline-element:last-of-type {
 border-right: none;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
}
.list-music-shop p.buk-track-counter {
  margin-top: 6px;
  position: absolute;
  font-size: 20px;
}
.list-music-shop p.buk-track-title {
  padding-left: 10px;
}


/***RIGHT COLUMN***/
.content-right-musicshop  .sm2-playlist-wrapper ul li a {
    padding: 0px !important;
}
.content-right-musicshop .list-music-shop .buk-track-plus {
  height: 40px;
  width: 40px;
}
.content-right-musicshop .sm2-inline-element.buk-track-actions {
  display: inline-block;
  width: 110px;
  height: 60px;
  float: right;
  padding-top: 0px;
  padding-bottom: 0px;
}
.content-right-musicshop .list-music-shop .buk-track-meta-parent {
  display: inline-block;
}
div.content-right-musicshop .bd.sm2-main-controls{
  display: none;
}
.content-right-musicshop .sm2-bar-musicshop > .bd {
   width: 100%;
}
.content-right-musicshop .list-music-shop .buk-track-cash {
  width: auto;
  height: auto;
}
@media (min-width: 980px) {
  .content-right-musicshop .list-music-shop .buk-track-title {
    width: auto;
    display: block;
  }
  .content-right-musicshop .list-music-shop .buk-track-artists {
    width: auto;
  }
  .content-right-musicshop .list-music-shop .buk-track-genre {
    width: auto;
  }
}
@media (max-width: 980px) {
  .content-right-musicshop .list-music-shop .buk-track-title {
    width: auto;
  }
  .content-right-musicshop .list-music-shop .buk-track-artists {
    width: auto;
  }
  .content-right-musicshop .list-music-shop .buk-track-genre {
    width: auto;
  }
  .content-right-musicshop .list-music-shop .buk-track-cash {
    width: auto;
  }
}

/*******************/

/***TAB COLUMN*****/
.content-tab-musicshop .list-music-shop .buk-track-plus {
  width: 150px;
  float: left;
}
.content-tab-musicshop .list-music-shop .bucket-track-header-meta, .content-tab-musicshop .list-music-shop .buk-track-meta-parent {
  margin-left: 150px;
}
@media (min-width: 980px) {
  .content-tab-musicshop .list-music-shop .buk-track-title {
    width: 30%;
  }
  .content-tab-musicshop .list-music-shop .buk-track-artists {
    width: 20%;
  }
  .content-tab-musicshop .list-music-shop .buk-track-genre {
    width: 20%;
  }
  .content-tab-musicshop .list-music-shop .buk-track-cash {
    width: 20%;
  }
}
@media (max-width: 980px) {
  .content-tab-musicshop .list-music-shop .buk-track-title {
    width: 30%;
  }
  .content-tab-musicshop .list-music-shop .buk-track-artists {
    width: 19%;
  }
  .content-tab-musicshop .list-music-shop .buk-track-genre {
    width: 19%;
  }
  .content-tab-musicshop .list-music-shop .buk-track-cash {
    width: 25%;
  }
}
@media (min-width: 1150px) {
  .content-tab-musicshop .sm2-bar-musicshop > .bd {
   width: 70%;
  }
}
@media (max-width: 1150px) and (min-width: 780px) {
  .content-tab-musicshop .sm2-bar-musicshop > .bd {
   width: 90%;
  }
}
@media (max-width: 780px) {
  .content-tab-musicshop .sm2-bar-musicshop > .bd {
   width: 100%;
  }
}


/*******************/








.list-music-shop .buk-track-command {
  width: 55px;
  float: right;
}
.list-music-shop .bd.sm2-main-controls {
  display: block;
}





.list-music-shop .sm2-inline-element, .list-music-shop  .sm2-playlist-wrapper ul li .sm2-col  {
    display: inline-block;
 }
.list-music-shop .sm2-main-controls, .list-music-shop .bucket-track-header-meta {
    padding-left: 10px;
    padding-right: 10px;
}
.list-music-shop span.sm2-col.buk-track-command > a {
    padding: 0px;
    display: inline-block;
}
.list-music-shop span.sm2-col.buk-track-command > a > div{
    width: 100%;
}
.list-music-shop span.sm2-col.buk-track-command {
  width: 90px;
}
.pointer{
  cursor: pointer;
}
.list-music-shop span.buk-track-counter {
  position: absolute;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 10px;
}
.btn-rjm-list{
  height: 100%;
  padding: 5px 7px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  opacity: .55;
  display: inline-block;
  font-size: 90%;
}
div.sm2-row:hover div.btn-rjm-list{
  opacity: 1;
}
div.btn-rjm-list.btn-action:hover {
  -webkit-filter: drop-shadow(0 0 7px #fff);
  filter: drop-shadow(0 0 7px #fff);
}

.btn-youtube{border-radius: 4px;color:#fff;background-color:#DC2725;border-color:rgba(0,0,0,0.2)}
div.btn-rjm-list.btn-youtube:hover,div.btn-rjm-list.btn-youtube:focus,div.btn-rjm-list.btn-youtube:active,div.btn-rjm-list.btn-youtube.active,.open>.dropdown-togglediv.btn-rjm-list.btn-youtube{color:#fff;background-color:#B21E1C;border-color:rgba(0,0,0,0.2)}
div.btn-rjm-list.btn-youtube:active,div.btn-rjm-list.btn-youtube.active{background-image:none}
div.btn-rjm-list.btn-youtube.disabled,div.btn-rjm-list.btn-youtube[disabled],fieldset[disabled] div.btn-rjm-list.btn-youtube,div.btn-rjm-list.btn-youtube.disabled:hover,div.btn-rjm-list.btn-youtube[disabled]:hover,fieldset[disabled] div.btn-rjm-list.btn-youtube:hover,div.btn-rjm-list.btn-youtube.disabled:focus,div.btn-rjm-list.btn-youtube[disabled]:focus,fieldset[disabled] div.btn-rjm-list.btn-youtube:focus{background-color:#DC2725;border-color:rgba(0,0,0,0.2)}

.list-music-shop .sm2-playlist-bd .noYoutube div.btn-rjm-list.btn-youtube, .list-music-shop .sm2-playlist-bd .noYoutube div.btn-rjm-list.btn-youtube:hover {
  background-color: rgb(181, 91, 91);
    cursor: initial;}
.list-music-shop .sm2-playlist-bd span.assoc_price {
  background: #ff53a0;
  padding: 5px 8px 6px;
  height: 28px;
  margin: 0;
  float: left;    
  min-width: 60px;
}
.list-music-shop .sm2-playlist-bd a.sm2-icon.sm2-cart {
  background-color: #d64988;
  padding: 5px 5px 4px;
  height: 28px;
  float: left;
}
.list-music-shop .sm2-playlist-bd .sm2-inline-element.buk-track-cash.btn-rjm-list.ajax_add_to_cart_button, .list-music-shop .sm2-playlist-bd .sm2-inline-element.buk-track-cash.btn-rjm-list.ajax_add_to_cart_button:hover {
  background: none;
}
.list-music-shop ul.sm2-playlist-bd > li {
   padding: 5px;
}
.marT20{
  margin-top: 20px;
}
.marB20{
  margin-bottom: 20px;
}