.player-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;
	background: #000;
	font-size: 1.3em;
	z-index: 14
}
.track-title {
	font: 700 1em/1.35 "SourceSans", Arial, sans-serif
}
.track-title .remixed {
	font-weight: 400
}
.track-artist {
	font-weight: 400
}
.player-track-name-artist-standard {
	display: none
}
.player-current-track-container {
	width: 100%;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 25px;
	padding: 5px 0;
	overflow: hidden;
	font: 700 1.077em/1.25 "SourceSans", Arial, sans-serif;
	letter-spacing: .02em;
	color: #fff
}
.player-current-track-container a {
	color: #fff
}
.player-current-track-container a:hover {
	color: #ebebeb
}
.player-current-track-container .track-artwork {
	display: none
}
.player-current-track-container .track-waveform {
	display: none
}
.player-current-track-container .track-title {
	display: inline-block
}
.player-current-track-container .track-artist {
	display: inline-block
}
.player-current-track-container .track-artist:before {
	content: ' — ';
	display: inline-block
}
.player-current-track-container .track-info-button, .player-current-track-container .track-share-button {
	display: none
}
.track-waveform {
	width: 100%
}
.player-waveform-container {
	display: none;
	overflow: hidden;
	position: relative
}
.player-waveform-bpm-key-container {
	display: none
}
.player-scrubbable {
	height: 45px;
	position: absolute
}
.player-clickzone {
	background-color: rgba(255,255,255,0);
	z-index: 201
}
.player-progress-bar {
	background-color: rgba(255,0,0,0);
	z-index: 200;
	border-right: #fff 2px solid
}
.zoom-button {
	position: absolute;
	right: 0;
	top: 10px;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 25px;
	height: 25px;
	padding: 5px;
	background: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.7);
	z-index: 202;
	font-size: 8px;
	line-height: 0
}
.zoom-button.zoom-out .zoom-in-icon {
	display: inline-block
}
.zoom-button.zoom-out .zoom-out-icon {
	display: none
}
.zoom-button.zoom-in .zoom-out-icon {
	display: inline-block
}
.zoom-button.zoom-in .zoom-in-icon {
	display: none
}
.zoom-button .zoom-in-icon, .zoom-button .zoom-out-icon {
	fill: #fff;
	width: 15px;
	height: 15px
}
.disabled .player-controls .prev-button, .disabled .player-controls .next-button {
	opacity: .4
}
.player-buttons-container {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 2px
}
.player-buttons-container .volume-button {
	display: none
}
.player-buttons-container .buy-button {
	position: relative;
	top: 6px;
	float: left;
	margin: 0 0 0 20px
}
.player-buttons-container .buy-button button.add-to-default {
	padding: 0 4px 0 0
}
.player-buttons-container .buy-button button.launch-menu {
	padding: 0 8px 0 4px
}
.player-buttons-container .buy-button .add-to-default-price {
	display: none
}
.player-buttons-container .buy-button .add-to-default-icon {
	display: inline-block;
	fill: #ff53a0;
	width: 24px;
	height: 24px
}
.player-buttons-container .buy-button .launch-menu-icon {
	fill: #ff53a0;
	width: 20px;
	height: 20px
}
.player-buttons-container .buy-button .loading-menu-icon {
	display: none
}
.player-buttons-container .buy-button.in-cart .add-to-default-icon, .player-buttons-container .buy-button.in-cart .launch-menu-icon {
	fill: #8c8c8c
}
.player-buttons-container .buy-button.loading .launch-menu-icon {
	display: none
}
.player-buttons-container .buy-button.loading .loading-menu-icon {
	display: block;
	fill: #ff53a0;
	position: relative;
	top: 0;
	width: 20px;
	height: 20px;
	-webkit-animation: spinner-icon 1.5s infinite linear;
	animation: spinner-icon 1.5s infinite linear
}
.player-buttons-container .buy-button.loading.in-cart .loading-menu-icon {
	fill: #8c8c8c
}
.player-buttons-container .player-controls {
	display: inline-block;
	margin-left: -8px
}
.player-buttons-container .player-controls .play-button, .player-buttons-container .player-controls .prev-button, .player-buttons-container .player-controls .next-button {
	display: inline-block
}
.player-buttons-container .player-controls .play-button {
	margin: 0 19px 0 21px;
	position: relative;
	top: 5px
}
.player-buttons-container .player-controls .play-button.play .play-button-icon {
	display: inline-block
}
.player-buttons-container .player-controls .play-button.play .pause-button-icon {
	display: none
}
.player-buttons-container .player-controls .play-button.pause .pause-button-icon {
	display: inline-block
}
.player-buttons-container .player-controls .play-button.pause .play-button-icon {
	display: none
}
.player-buttons-container .player-controls .play-button-icon, .player-buttons-container .player-controls .pause-button-icon, .player-buttons-container .player-controls .prev-button-icon, .player-buttons-container .player-controls .next-button-icon {
	fill: #fff
}
.player-buttons-container .player-controls .play-button-icon, .player-buttons-container .player-controls .pause-button-icon {
	width: 25px;
	height: 25px
}
.player-buttons-container .player-controls .prev-button-icon, .player-buttons-container .player-controls .next-button-icon {
	width: 15px;
	height: 15px
}
.player-buttons-container .menu-queue-buttons-parent {
	float: right;
	margin: -3px 20px 0 0;
	position: relative
}
.player-buttons-container .player-menu-button {
	display: inline-block;
	width: 32px
}
.player-buttons-container .player-menu-button-img {
	margin-top: 10px;
	width: 23px;
	height: 23px;
	fill: #fff
}
.player-buttons-container .player-menu-button-img.animate {
	-webkit-animation: flip-icon ease-in-out .9s;
	animation: flip-icon ease-in-out .9s
}
.player-buttons-container .player-menu-button.player-menu-button-open .player-menu-button-img {
	fill: #94d500
}
.player-buttons-container .player-queue-button {
	display: none
}
.info-drop, .queue-drop, .share-drop {
	display: none
}
.volume-button-parent {
	position: relative;
	display: inline-block;
	margin: 0;
	top: 3px;
	z-index: 5
}
.volume-button .volume-off-icon {
	display: none
}
.volume-button .volume-on-icon {
	display: inline-block
}
.volume-button.off .volume-on-icon {
	display: none
}
.volume-button.off .volume-off-icon {
	display: inline-block
}
.volume-button .volume-off-icon, .volume-button .volume-on-icon {
	fill: #fff;
	width: 16px;
	height: 16px
}
.volume-button .volume-off-icon:hover, .volume-button .volume-on-icon:hover {
	cursor: pointer;
	-webkit-filter: drop-shadow(0 0 7px #fff);
	filter: drop-shadow(0 0 7px #fff)
}
.volume-drop {
	display: none;
	position: absolute;
	bottom: 70px;
	left: -16px;
	margin: 0;
	padding: 15px 25px;
	background: #000;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 0 25px rgba(90,90,90,0.35);
	z-index: 9
}
.volume-drop:after {
	content: '';
	position: absolute;
	width: 34px;
	height: 16px;
	background: url("../images/drop-point-down.png");
	right: 12px;
	bottom: -16px
}
.volume-drop-range {
	writing-mode: bt-lr;
	-webkit-appearance: slider-vertical;
	position: relative;
	width: 8px;
	height: 150px;
	padding: 0;
	margin: 0;
	display: block
}
.volume-drop-range::-moz-range-track {
background-color:#94d500;
border-radius:8px
}
.volume-drop-range::-ms-fill-lower {
background:#94d500
}
.volume-drop-range::-ms-fill-upper {
background:#94d500
}
.volume-drop-range::-ms-ticks-before {
background:#94d500
}
.volume-drop-range::-ms-ticks-after {
background:#404040
}
.volume-drop-range::-ms-thumb {
background:#eee
}
.volume-drop-range::-ms-tooltip {
display:none
}
.volume-drop-range::-ms-track {
border:0
}
.player-mobile-pop-up {
	position: fixed;
	bottom: 0;
	z-index: 12;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 70px;
	background: #000;
	display: none
}
.queue-mobile, .info-mobile {
	display: none
}
.waveform-mobile {
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}
.waveform-mobile .queue-mobile, .waveform-mobile .info-mobile {
	display: none
}
.zero-track {
	display: none;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px;
	height: 100%
}
.zero-track .player-zero-music-icon {
	display: block;
	margin: 0 10px 0 0;
	fill: #39c1de;
	width: 20px;
	height: 20px
}
.zero-track .zero-track-message {
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
	color: #8c8c8c
}
.zero-state .player-menu-button, .zero-state .player-buttons-container .menu-queue-buttons-parent .player-queue-button, .zero-state .track-artwork, .zero-state .player-current-track-container .player-track-name-artist, .zero-state .track-title, .zero-state .track-info-button, .zero-state .track-artist, .zero-state .track-waveform, .zero-state .buy-button, .zero-state .volume-button, .zero-state .player-controls {
	display: none
}
.zero-state .zero-track {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: flex-start;
	-moz-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.zero-state .player-current-track-container {
	margin-top: 20px
}
.zero-state .queue-mobile-clear-all, .zero-state .queue-drop-clear-all {
	display: none
}

@media screen and (min-height: 370px), screen and (min-device-width: 768px) {
.player-mobile-pop-up {
	font-size: 1.3em;
	overflow: hidden
}
.queue-mobile {
	display: block;
	overflow: auto;
	height: -webkit-calc(100% - 203px);
	height: -moz-calc(100% - 203px);
	height: calc(100% - 203px);
	border-bottom: 1px solid #000
}
.mobile-queue {
	margin-top: 32px;
	-webkit-overflow-scrolling: touch;
	height: -webkit-calc(100% - 32px);
	height: -moz-calc(100% - 32px);
	height: calc(100% - 32px);
	overflow: auto
}
.queue-mobile-title {
	height: 32px;
	padding: 7px 8px;
	font-weight: 600;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	background: #000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
.queue-mobile-clear-all {
	position: absolute;
	right: 8px;
	color: #8c8c8c;
	font-weight: 700
}
.queue {
	height: -webkit-calc(100% - 20px);
	height: -moz-calc(100% - 20px);
	height: calc(100% - 20px);
	overflow: auto;
	text-align: left
}
.queue-track {
	content: '';
	display: table;
	clear: both;
	width: 100%;
	height: 46px;
	margin: 0 0 1px;
	padding: 0
}
.queue-track img {
	width: 46px;
	height: 46px;
	display: inline-block;
	float: left
}
.queue-track .icon-play {
	display: none
}
.queue-track .player-track-name-artist {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 46px;
	width: -webkit-calc(100% - 166px);
	width: -moz-calc(100% - 166px);
	width: calc(100% - 166px);
	float: left;
	padding: 0 0 0 10px;
	font-size: 1em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-family: "SourceSans", Arial, sans-serif
}
.queue-track .player-track-name-artist-standard {
	display: none
}
.queue-track .track-title, .queue-track .track-artist {
	height: 17px;
	overflow: hidden;
	display: block;
	width: 100%
}
.queue-track .track-artist {
	color: #8c8c8c
}
.queue-track.current-track, .queue-track.current-track:hover {
	background: #fff;
	cursor: auto
}
.queue-track.current-track .track-title, .queue-track.current-track:hover .track-title {
	color: #000
}
.queue-track.current-track .track-artist, .queue-track.current-track:hover .track-artist {
	color: #6c6c6c
}
.queue-track.current-track .icon-play, .queue-track.current-track:hover .icon-play {
	display: none
}
.queue-track .track-button-container {
	width: 100px;
	float: right;
	padding: 6px 10px 0
}
.queue-track .buy-button {
	position: relative;
	top: 6px;
	display: inline-block;
	margin: 0
}
.queue-track .buy-button button.add-to-default {
	padding: 0 4px 0 0
}
.queue-track .buy-button button.launch-menu {
	padding: 0 8px 0 4px
}
.queue-track .buy-button .add-to-default-price {
	display: none
}
.queue-track .buy-button .add-to-default-icon {
	display: inline-block;
	fill: #ff53a0;
	width: 24px;
	height: 24px
}
.queue-track .buy-button .launch-menu-icon {
	fill: #ff53a0;
	width: 20px;
	height: 20px
}
.queue-track .buy-button .loading-menu-icon {
	display: none
}
.queue-track .buy-button.in-cart .add-to-default-icon, .queue-track .buy-button.in-cart .launch-menu-icon {
	fill: #8c8c8c
}
.queue-track .buy-button.loading .launch-menu-icon {
	display: none
}
.queue-track .buy-button.loading .loading-menu-icon {
	display: block;
	fill: #ff53a0;
	position: relative;
	top: 0;
	width: 20px;
	height: 20px;
	-webkit-animation: spinner-icon 1.5s infinite linear;
	animation: spinner-icon 1.5s infinite linear
}
.queue-track .buy-button.loading.in-cart .loading-menu-icon {
	fill: #8c8c8c
}
.queue-track .buy-button button.add-to-default {
	padding: 0 6px 0 0;
	margin: 0 2px 0 0
}
.queue-track .buy-button button.launch-menu {
	padding: 0 6px;
	margin: 0 4px 0 3px
}
.queue-track .delete-track {
	float: right;
	padding: 0 0 0 6px;
	margin: 12px 0 0 2px
}
.queue-track .delete-track-icon {
	width: 16px;
	height: 16px;
	fill: #6c6c6c
}
.info-mobile {
	display: block;
	position: relative;
	height: 130px;
	width: 100%
}
.info-album {
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 3
}
.info-album img {
	width: 130px;
	margin-left: -84px
}
.info-album .info-button {
	position: absolute;
	top: 50px;
	right: 0;
	display: block;
	background: rgba(255,255,255,0.75);
	line-height: 1;
	font: 12px "Roboto", "Oswlad", "OpenSans", Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1;
	color: #262626;
	text-shadow: 0 1px 1px #fff;
	padding: 8px 10px 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	display: none
}
.info-list-container {
	height: 100%;
	width: -webkit-calc(100% - 46px);
	width: -moz-calc(100% - 46px);
	width: calc(100% - 46px);
	top: 0;
	margin: 0 0 0 46px;
	position: absolute;
	overflow: hidden;
	z-index: 4;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}
.info {
	position: relative;
	z-index: 2;
	font-size: .923em;
	line-height: 1.1;
	font-family: "SourceSans", Arial, sans-serif
}
.info li {
	display: block;
	width: 100%;
	height: 12px;
	padding: 2px 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	content: '';
	display: table;
	clear: both
}
.info .category {
	display: block;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 30%;
	padding: 0 10px 0 0;
	text-align: right;
	text-transform: capitalize
}
.info .value {
	display: block;
	float: left;
	width: 70%;
	height: 12px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis
}
.info-album-blur {
	position: absolute;
	top: -50%;
	left: -5%;
	width: 110%;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
	opacity: .35;
	z-index: 1
}
.player-mobile-share-link {
	position: absolute;
	z-index: 2
}
.player-mobile-share-facebook-link {
	bottom: 11px;
	right: 47px
}
.player-mobile-share-facebook-link .player-facebook-icon {
	width: 18px;
	height: 18px;
	fill: #39c1de
}
.player-mobile-share-twitter-link {
	bottom: 9px;
	right: 16px
}
.player-mobile-share-twitter-link .player-twitter-icon {
	width: 19px;
	height: 19px;
	fill: #39c1de
}
.waveform-mobile {
	height: 60px;
	padding: 10px 0 2px
}
.waveform-mobile img {
	height: 60px
}
}

@media screen and (min-device-width: 568px) and (max-device-width: 1024px) {
.player-container {
	height: 65px
}
.track-title {
	display: block;
	margin: -3px 0 0;
	height: 16px;
	overflow: hidden
}
.track-artist {
	display: block;
	margin: 2px 0 0;
	color: #8c8c8c;
	line-height: 1.25;
	max-height: 31px;
	overflow: hidden
}
.player-current-track-container {
	width: 48.57143%;
	float: left;
	margin-right: 2.85714%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 65px;
	padding: 10px 0 10px 20px;
	font: 700 1.077em/1.25 "SourceSans", Arial, sans-serif;
	letter-spacing: .02em;
	color: #fff
}
.player-current-track-container a {
	color: #fff
}
.player-current-track-container a:hover {
	color: #ebebeb
}
.player-current-track-container .track-artwork {
	display: block;
	float: left;
	height: 100%;
	max-width: 45px
}
.player-current-track-container .player-track-name-artist {
	width: -webkit-calc(100% - 55px);
	width: -moz-calc(100% - 55px);
	width: calc(100% - 55px);
	margin-left: 10px;
	float: left;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}
.player-current-track-container .player-track-name-artist-marquee {
	display: none
}
.player-current-track-container .track-artist {
	display: block
}
.player-current-track-container .track-artist:before {
	content: none
}
.player-buttons-container {
	width: 48.57143%;
	float: right;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 15px 0 0;
	padding: 0 20px 0 0
}
.player-buttons-container .buy-button {
	margin: 0
}
.player-buttons-container .menu-queue-buttons-parent {
	margin-right: 0
}
.queue-mobile .track-title {
	margin: 0
}
.info .category {
	width: 20%
}
.info .value {
	width: 80%
}
.zero-state .zero-track {
	display: inline-block;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: flex-start;
	-moz-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.zero-state .player-current-track-container {
	margin-top: 0
}
}

@media screen and (min-width: 768px) and (max-device-width: 1024px) {
.player-current-track-container {
	width: 32.07547%;
	float: left;
	margin-right: 1.88679%
}
.player-waveform-container {
	width: 32.07547%;
	float: left;
	margin-right: 1.88679%;
	display: block;
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0;
	overflow: hidden
}
.player-buttons-container {
	width: 32.07547%;
	float: right
}
.player-mobile-pop-up {
	height: 186px;
	bottom: 65px
}
.queue-mobile {
	width: 43.39623%;
	float: right;
	height: 185px
}
.queue-mobile-title {
	width: 43.39623%
}
.queue {
	height: 185px
}
.queue-track {
	height: 61px
}
.queue-track img {
	width: 61px;
	height: 61px
}
.queue-track .player-track-name-artist {
	height: 61px;
	width: -webkit-calc(100% - 181px);
	width: -moz-calc(100% - 181px);
	width: calc(100% - 181px)
}
.queue-track .track-button-container {
	padding-top: 12px
}
.info-mobile {
	display: block;
	width: 56.60377%;
	float: left;
	margin-right: 1.85185%;
	margin-right: 0;
	height: 185px
}
.info-album {
	width: 185px
}
.info-album img {
	width: 100%;
	margin: 0
}
.info-album .info-button {
	display: none
}
.info {
	margin: 0 0 0 185px;
	width: -webkit-calc(100% - 185px);
	width: -moz-calc(100% - 185px);
	width: calc(100% - 185px);
	font-size: .923em
}
.info .category {
	width: 30%
}
.info .value {
	width: 70%
}
.waveform-mobile {
	display: none
}
.zero-track .zero-track-message {
	font-size: 14px;
	font-weight: 700
}
}

@media screen and (device-width: 1024px) {
.player-current-track-container {
	width: 28.81356%;
	float: left;
	margin-right: 1.69492%
}
.player-waveform-container {
	width: 38.98305%;
	float: left;
	margin-right: 1.69492%
}
.player-buttons-container {
	width: 28.81356%;
	float: right
}
}

@media screen and (min-device-width: 1025px) {
.player-container {
	overflow: visible;
	height: 65px;
	min-width: 600px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000
}
.player-current-track-container {
	width: 49.29577%;
	float: left;
	margin-right: 1.40845%;
	position: relative;
	overflow: visible;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 65px;
	padding: 10px 0 10px 20px;
	font: 700 1.077em/1.25 "SourceSans", Arial, sans-serif;
	letter-spacing: .02em;
	color: #fff
}
.player-current-track-container a {
	color: #fff
}
.player-current-track-container a:hover {
	color: #ebebeb
}
.player-current-track-container .player-track-name-artist {
	width: -webkit-calc(100% - 55px);
	width: -moz-calc(100% - 55px);
	width: calc(100% - 55px);
	margin-left: 10px;
	float: left;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}
.player-current-track-container .player-track-name-artist-marquee {
	display: none
}
.player-current-track-container .track-artwork {
	display: block;
	float: left;
	height: 100%;
	max-width: 45px
}
.player-current-track-container .track-title {
	display: block;
	margin: -3px 0 0;
	height: 17px;
	overflow: hidden;
	padding-right: 95px;
	font-size: .95em
}
.player-current-track-container .track-artist {
	display: block;
	margin: 2px 0 0;
	color: #8c8c8c;
	line-height: 1.15;
	max-height: 36px;
	overflow: hidden;
	padding-right: 95px;
	font-size: .95em
}
.player-current-track-container .track-artist:before {
	content: none
}
.player-current-track-container .info-button-parent {
	position: absolute;
	right: 66px;
	top: 24px
}
.player-current-track-container .share-button-parent {
	position: absolute;
	right: 109px;
	top: 20px
}
.player-current-track-container .stem-button-parent {
	position: absolute;
	right: -10px;
	top: 24px;
	width: 60px;
	font: 12px "Roboto", "Oswlad", "SourceSans", Arial, sans-serif;
	opacity: .6
}
.player-current-track-container .stem-button-parent.active {
	cursor: pointer;
	opacity: 1;
	-webkit-filter: brightness(76%) sepia(100%) saturate(900%) hue-rotate(7deg)
}
.player-current-track-container .stem-button-parent img {
	width: 17px;
	position: relative;
	top: 1px
}
.player-current-track-container .track-info-button {
	display: inline-block;
	font: 12px "Roboto", "Oswlad", "SourceSans", Arial, sans-serif;
	letter-spacing: 1px
}
.player-current-track-container .track-info-button:hover {
	color: #ededed;
	text-shadow: 0 0 25px #feffff, -1px 1px 1px rgba(0,0,0,0.75)
}
.player-current-track-container .track-share-button {
	display: inline-block;
	margin-top: 3px
}
.player-current-track-container .track-share-button .track-share-button-icon {
	fill: #fff;
	width: 18px;
	height: 18px
}
.player-current-track-container .track-share-button .track-share-button-icon:hover {
	-webkit-filter: drop-shadow(0 0 7px #fff);
	filter: drop-shadow(0 0 7px #fff)
}
.player-mobile-pop-up {
	display: none
}
.info-drop {
	display: none;
	position: absolute;
	bottom: 70px;
	right: -76px;
	width: 300px;
	background: #000;
	box-shadow: 0 0 25px rgba(90,90,90,0.35)
}
.info-drop:after {
	content: '';
	position: absolute;
	width: 34px;
	height: 16px;
	background: url("../images/drop-point-down.png");
	right: 72px
}
.info-drop .player-share-links {
	position: absolute;
	bottom: 38px;
	right: 7px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2
}
.info-drop .player-share-links .player-share-link {
	color: #39c1de;
	display: inline-block;
	margin: 0 0 5px
}
.info-drop .player-share-links .player-share-link:hover {
	color: #46c5e0
}
.info-drop .player-share-links .player-twitter-icon {
	width: 16px;
	height: 16px;
	fill: #39c1de;
	position: relative;
	top: 1px;
	margin-right: 4px
}
.info-drop .player-share-links .player-facebook-icon {
	width: 16px;
	height: 16px;
	fill: #39c1de;
	margin-right: 3px;
	position: relative;
	top: 1px
}
.launch-keyboard-shortcuts-link-parent {
	margin: 0 15px;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
	text-align: right;
	border-top: 1px solid #494949
}
a.launch-keyboard-shortcuts-link {
	display: inline-block;
	margin: 5px 0 10px;
	color: #39c1de;
	text-transform: uppercase;
	font-size: 11px
}
a.launch-keyboard-shortcuts-link .keyboard-icon {
	margin: 0 0 0 5px;
	position: relative;
	top: 5px;
	width: 18px;
	height: 18px;
	fill: #39c1de
}
a.launch-keyboard-shortcuts-link:hover {
	color: #46c5e0
}
.info {
	position: relative;
	width: 300px;
	max-height: 335px;
	margin: 0;
	overflow: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 10px
}
.info li {
	content: '';
	display: table;
	clear: both;
	width: 100%;
	padding: 0 0 10px
}
.info li:last-child {
	padding-bottom: 0
}
.info .category {
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 30%;
	padding: 0 10px 0 0;
	text-align: right;
	font-weight: 400;
	color: #8c8c8c
}
.info .value {
	display: inline-block;
	width: 68%
}
.share-drop {
	display: none;
	position: absolute;
	bottom: 70px;
	right: -26px;
	width: 200px;
	background: #000;
	box-shadow: 0 0 25px rgba(90,90,90,0.35);
	z-index: 9
}
.share-drop:after {
	content: '';
	position: absolute;
	width: 34px;
	height: 16px;
	background: url("../images/drop-point-down.png");
	right: 18px
}
.player-waveform-container {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0
}
.player-waveform-container .disabled-message {
	display: none
}
.player-waveform-container .player-waveform-bpm-key-container {
	display: block;
	position: absolute;
	bottom: 9px;
	left: 0;
	padding: 5px 10px;
	background: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.7);
	font-family: "CoreSans", Arial, sans-serif;
	font-weight: 600;
	font-size: 13px
}
.player-buttons-container {
	width: 49.29577%;
	float: right;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 15px 0 0;
	padding: 0 20px 0 0
}
.player-buttons-container .buy-button {
	display: inline-block;
	margin: 0;
	position: relative
}
.player-buttons-container .buy-button button {
	font: 700 12px/1 "CoreSans", Arial, sans-serif;
	color: #fff;
	float: left
}
.player-buttons-container .buy-button button.add-to-default {
	background: #ff53a0;
	padding: 5px 8px 6px;
	height: 25px;
	margin: 0
}
.player-buttons-container .buy-button button.launch-menu {
	background: #d64988;
	top: 0;
	padding: 5px 5px 4px;
	width: 25px;
	height: 25px
}
.player-buttons-container .buy-button .launch-menu-icon {
	display: block;
	fill: rgba(255,255,255,0.65);
	top: 0;
	width: 14px;
	height: 14px
}
.player-buttons-container .buy-button .loading-menu-icon {
	display: none
}
.player-buttons-container .buy-button .icon {
	position: relative;
	top: 4px;
	margin-right: 3px;
	font-size: 7px;
	line-height: 1;
	margin-left: -3px
}
.player-buttons-container .buy-button .icon.icon-spinner {
	top: 3px;
	left: -2px;
	margin-right: 0
}
.player-buttons-container .buy-button.in-cart button {
	color: #fff
}
.player-buttons-container .buy-button.in-cart button.add-to-default {
	background: #6c6c6c;
	height: 25px
}
.player-buttons-container .buy-button.in-cart button.launch-menu {
	background: #5a5a5a
}
.player-buttons-container .buy-button.loading .launch-menu {
	padding: 4px 5px
}
.player-buttons-container .buy-button.loading .launch-menu-icon {
	display: none
}
.player-buttons-container .buy-button.loading .loading-menu-icon {
	display: block;
	fill: #fff;
	top: 0;
	width: 15px;
	height: 15px;
	-webkit-animation: spinner-icon 1.5s infinite linear;
	animation: spinner-icon 1.5s infinite linear
}
.player-buttons-container .buy-button.download {
	background: #39c1de;
	font: 700 12px/1 "CoreSans", Arial, sans-serif;
	color: #fff
}
.player-buttons-container .buy-button.download:hover {
	background: #46c5e0
}
.player-buttons-container .buy-button button {
	font-size: 14px
}
.player-buttons-container .buy-button button .add-to-default-icon {
	display: none
}
.player-buttons-container .buy-button button .add-to-default-price {
	display: inline-block
}
.player-buttons-container .buy-button button.launch-menu {
	padding: 6px 5px 5px
}
.player-buttons-container .volume-button {
	display: inline-block;
	margin: 0 10px 0 0
}
.player-buttons-container .player-controls {
	margin: 0;
	position: relative;
	top: 2px
}
.player-buttons-container .player-controls .prev-button, .player-buttons-container .player-controls .next-button {
	width: 13px;
	height: 13px
}
.player-buttons-container .player-controls .prev-button:hover, .player-buttons-container .player-controls .next-button:hover {
	-webkit-filter: drop-shadow(0 0 7px #fff);
	filter: drop-shadow(0 0 7px #fff)
}
.player-buttons-container .player-controls .play-button {
	margin: 0 13px 0 15px;
	top: 3px
}
.player-buttons-container .player-controls .play-button-icon, .player-buttons-container .player-controls .pause-button-icon {
	width: 22px;
	height: 22px
}
.player-buttons-container .player-controls .play-button-icon:hover, .player-buttons-container .player-controls .pause-button-icon:hover {
	-webkit-filter: drop-shadow(0 0 7px #fff);
	filter: drop-shadow(0 0 7px #fff)
}
.player-buttons-container .menu-queue-buttons-parent {
	margin-right: 0
}
.player-buttons-container .player-queue-button {
	display: inline-block
}
.player-buttons-container .player-menu-button {
	display: none
}
.player-buttons-container .player-queue-button-img {
	margin-top: 8px;
	width: 22px;
	height: 22px;
	fill: #fff
}
.player-buttons-container .player-queue-button-img.animate {
	-webkit-animation: flip-icon ease-in-out .9s;
	animation: flip-icon ease-in-out .9s
}
.player-buttons-container .player-queue-button-img:hover {
	-webkit-filter: drop-shadow(0 0 7px #fff);
	filter: drop-shadow(0 0 7px #fff)
}
.queue-hit-area {
	display: none;
	background: transparent;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9
}
.queue-drop {
	display: none;
	position: absolute;
	right: -20px;
	bottom: 70px;
	margin: 0;
	padding: 0;
	width: 530px;
	height: 329px;
	border: 3px solid #000;
	background: #000;
	box-shadow: 0 0 25px rgba(90,90,90,0.35)
}
.queue-drop:after {
	content: '';
	position: absolute;
	width: 34px;
	height: 16px;
	background: url("../images/drop-point-down.png");
	right: 14px
}
.queue-drop-title {
	height: 26px;
	padding: 3px 8px 5px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left
}
.queue-drop-clear-all {
	position: absolute;
	right: 8px;
	color: #8c8c8c;
	font-weight: 700
}
.queue {
	overflow: auto;
	width: 530px;
	height: 303px;
	text-align: left
}
.queue .queue-track {
	height: 65px;
	position: relative
}
.queue .queue-track img {
	width: 65px;
	height: 65px
}
.queue .queue-track .icon-play {
	display: none;
	position: absolute;
	top: 15px;
	left: 20px;
	color: #fff;
	z-index: 2
}
.queue .queue-track:hover {
	background: #262626;
	cursor: pointer
}
.queue .queue-track:hover img {
	opacity: .25
}
.queue .queue-track:hover .icon-play {
	display: inline-block
}
.queue .queue-track.current-track, .queue .queue-track.current-track:hover {
	background: #fff;
	cursor: auto
}
.queue .queue-track.current-track .track-title, .queue .queue-track.current-track:hover .track-title {
	color: #000
}
.queue .queue-track.current-track .track-artist, .queue .queue-track.current-track:hover .track-artist {
	color: #6c6c6c
}
.queue .queue-track.current-track img, .queue .queue-track.current-track:hover img {
	opacity: 1
}
.queue .queue-track.current-track .icon-play, .queue .queue-track.current-track:hover .icon-play {
	display: none
}
.queue .queue-track .player-track-name-artist {
	height: 65px;
	width: -webkit-calc(100% - 219px);
	width: -moz-calc(100% - 219px);
	width: calc(100% - 219px)
}
.queue .queue-track .track-button-container {
	width: 124px;
	padding-top: 17px
}
.queue .queue-track .buy-button {
	display: inline-block;
	margin: 0 15px 0 0;
	position: relative
}
.queue .queue-track .buy-button button {
	font: 700 12px/1 "CoreSans", Arial, sans-serif;
	color: #fff;
	float: left
}
.queue .queue-track .buy-button button.add-to-default {
	background: #ff53a0;
	padding: 5px 8px 6px;
	height: 25px;
	margin: 0
}
.queue .queue-track .buy-button button.launch-menu {
	background: #d64988;
	top: 0;
	padding: 5px 5px 4px;
	width: 25px;
	height: 25px
}
.queue .queue-track .buy-button .launch-menu-icon {
	display: block;
	fill: rgba(255,255,255,0.65);
	top: 0;
	width: 14px;
	height: 14px
}
.queue .queue-track .buy-button .loading-menu-icon {
	display: none
}
.queue .queue-track .buy-button .icon {
	position: relative;
	top: 4px;
	margin-right: 3px;
	font-size: 7px;
	line-height: 1;
	margin-left: -3px
}
.queue .queue-track .buy-button .icon.icon-spinner {
	top: 3px;
	left: -2px;
	margin-right: 0
}
.queue .queue-track .buy-button.in-cart button {
	color: #fff
}
.queue .queue-track .buy-button.in-cart button.add-to-default {
	background: #6c6c6c;
	height: 25px
}
.queue .queue-track .buy-button.in-cart button.launch-menu {
	background: #5a5a5a
}
.queue .queue-track .buy-button.loading .launch-menu {
	padding: 4px 5px
}
.queue .queue-track .buy-button.loading .launch-menu-icon {
	display: none
}
.queue .queue-track .buy-button.loading .loading-menu-icon {
	display: block;
	fill: #fff;
	top: 0;
	width: 15px;
	height: 15px;
	-webkit-animation: spinner-icon 1.5s infinite linear;
	animation: spinner-icon 1.5s infinite linear
}
.queue .queue-track .buy-button.download {
	background: #39c1de;
	font: 700 12px/1 "CoreSans", Arial, sans-serif;
	color: #fff
}
.queue .queue-track .buy-button.download:hover {
	background: #46c5e0
}
.queue .queue-track .buy-button button {
	font-size: 14px
}
.queue .queue-track .buy-button button .add-to-default-icon {
	display: none
}
.queue .queue-track .buy-button button .add-to-default-price {
	display: inline-block
}
.queue .queue-track .buy-button button.add-to-default {
	margin: 0
}
.queue .queue-track .buy-button button.launch-menu {
	margin: 0;
	padding: 6px 5px 5px
}
.queue .queue-track .buy-button .buy-button-menu {
	bottom: auto;
	right: 0;
	top: 25px;
	background: #262626;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.65);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.65);
	box-shadow: 0 0 5px rgba(0,0,0,0.65);
	position: absolute;
	width: 250px;
	padding: 5px;
	left: auto;
	height: auto
}
.queue .queue-track .buy-button .buy-button-menu:after {
	display: none
}
.queue .queue-track .buy-button .buy-button-menu li {
	background: #373737
}
.queue .queue-track .buy-button .buy-button-menu li:hover {
	background: #444;
	cursor: pointer
}
.queue .queue-track .buy-button .buy-button-menu li.li-in-cart {
	background: #262626
}
.queue .queue-track .buy-button .buy-button-menu li.li-in-cart:hover {
	background: #262626;
	cursor: default
}
.queue .queue-track .delete-track {
	margin: 11px 0 0
}
.zero-state .player-menu-button, .zero-state .player-buttons-container .menu-queue-buttons-parent .player-queue-button, .zero-state .track-artwork, .zero-state .player-current-track-container .player-track-name-artist, .zero-state .track-title, .zero-state .track-info-button, .zero-state .track-artist, .zero-state .track-waveform, .zero-state .buy-button, .zero-state .volume-button, .zero-state .player-controls {
	display: none
}
.zero-track .zero-track-message {
	font-size: 14px;
	font-weight: 700
}
}

@media screen and (min-device-width: 1025px) and (min-width: 800px) {
.player-current-track-container {
	width: 32.39437%;
	float: left;
	margin-right: 1.40845%
}
.player-waveform-container {
	width: 23.94366%;
	float: left;
	margin-right: 1.40845%;
	visibility: visible;
	height: 100%;
	padding: 10px 0
}
.player-buttons-container {
	width: 40.84507%;
	float: right;
	padding-left: 10px
}
}

@media screen and (min-device-width: 1025px) and (min-width: 1000px) {
.player-current-track-container {
	width: 23.94366%;
	float: left;
	margin-right: 1.40845%
}
.player-waveform-container {
	width: 40.84507%;
	float: left;
	margin-right: 1.40845%
}
.player-buttons-container {
	width: 32.39437%;
	float: right
}
}

@media screen and (min-device-width: 1025px) and (min-width: 1250px) {
.player-current-track-container {
	width: 23.94366%;
	float: left;
	margin-right: 1.40845%
}
.player-waveform-container {
	width: 49.29577%;
	float: left;
	margin-right: 1.40845%
}
.player-buttons-container {
	width: 23.94366%;
	float: right
}
}

@media screen and (min-width: 1400px) {
.player-buttons-container .volume-button {
	margin: 0 20px 0 0
}
.bp-top-ten-logo {
	width: 190px
}
}